﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mhltw</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@Int128.5.0/font/bootstrap-icons.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mhltw.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css" />
    <script src="~/js/site.js"></script>
</head>
@* <body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Mhltw</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                    <form class="d-flex">
                        <button class="btn btnbtn-outline-dark" type="submit" asp-action="Index" asp-controller="ShoppingCart">
                            <i class="bi-cart-fill me-1"></i>Cart
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Mhltw - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body> *@
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="row">
                        <div class="col-sm-7">
                            <div class="menu">
                                <ul class="nav navbar-nav">
                                    <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                                    <li><a href="scroll-target" id="scroll-td">Thực đơn</a></li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li><a asp-controller="Admin" asp-action="Bill">Đơn Hàng</a></li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="Log">
                                <ul class="nav navbar-nav">
                                    <partial name="_LoginPartial" style="color: #b98e8e" />

                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <div class="srch">
                                <div class="search-form">
                                    <form class="navbar-form" asp-controller="ShoppingCart" asp-action="Index">
                                        <button class="btn btn-outline-dark" type="submit"><i class="bi-cart-fill me-1"> Cart</i></button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </nav>

    </header>
    <div class="content">
        <div class="col-md-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img src="image/sliders/banner.jpg" alt="" width="100%">
                    </div>
                    <div class="item">
                        <img src="image/sliders/aw-sliders-chicken.jpg" alt="">
                    </div>
                    <div class="item">
                        <img src="image/sliders/burger-slider.jpg" alt="">
                    </div>

                </div>

                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="content">
                <div class="container">
                    <div class="col-md-12">
                        <div id="scroll-target">
                            @RenderBody()
                        </div>

                    </div>

                </div>
            </div>
            
        </div>
    </div>






   @*  <div class="Container-footer">
        <section class="footer">
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
            <div class="links">
                <a href="trang-chu">Trang chủ</a>
                <a href="ve-chung-toi">Về chúng tôi</a>
                <a href="thuc-don">Thực đơn</a>
                <a href="san-pham">Sản phẩm</a>
                <a href="danh-gia">Đánh giá</a>
                <a href="lien-he">Liên hệ</a>
                <a href="bai-viet">Blogs</a>
            </div>
        </section>
    </div>
 *@
    <script>
        document.getElementById("scroll-td").addEventListener("click", function (event) {
            event.preventDefault();
            var targetElement = document.getElementById("scroll-target");
            targetElement.scrollIntoView({ behavior: "smooth", block: "start" });
        });

    </script>

    <script>
        document.getElementById("search-box").addEventListener("keypress", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("search-form").submit();
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.carousel').carousel();
        });
    </script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src=""></script>
    <script src="js/script.js"></script>
    <script src="js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
