﻿@model Mhltw.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa danh mục</h1>

<h3>Bạn có chắc muốn xóa danh mục này ?</h3>
<div>
    <h4>Danh mục</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="IndexCategory">Back to List</a>
    </form>
</div>
