﻿@model ShoppingCart
<div class="cart-container">
    <h2>Giỏ Hàng</h2>
    <table class="cart-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                    <td>@(item.Price * item.Quantity)</td>
                    <td>
                        <a asp-action="RemoveFromCart" asp-route-productId="@item.ProductId" class="remove-link">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="cart-actions">
        <a asp-action="CheckOut" class="btn btn-primary">Xác nhận đơn hàng</a>
      

        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Tiếp tục mua sắm</a>
    </div>
</div>
