﻿@model IEnumerable<Mhltw.Models.Product>

@{
    ViewData["Title"] = "Danh Sách Sản Phẩm";
}

<h1>Danh Sách Sản Phẩm</h1>

<p>
    <a asp-action="Create">Thêm sản phẩm</a> | <a asp-action="IndexCategory" asp-controller="Category">Danh mục sản phẩm</a> | 
</p>


<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th style="width: 20%;">Tên</th>
            <th style="width: 15%;">Giá</th>
            <th style="width: 35%;">Mô tả</th>
            <th style="width: 15%;">Hình ảnh</th>
            <th style="width: 15%;">Danh mục</th>
            <th style="width: 10%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@item.Price.ToString("#,##0") VnD</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td><img src="@item.ImageUrl" style="max-width: 100px;" /></td>
                <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>