﻿@model Mhltw.ViewModels.HomeViewModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@{
    ViewData["Title"] = "Home Page";
    int numOfQuantity = 1;
}
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Index" asp-controller="Product">Danh sách sản phẩm</a> | <a asp-action="IndexCategory" asp-controller="Category">Danh mục sản phẩm</a> |
    </p>
}
<div class="menu">
    <div calss="col-sm-8">
        <form id="search-form" asp-action="Index" asp-controller="Home" class="form-inline">
            <div class="search-form">
                <input class="searchbox" type="text" placeholder="Tìm kiếm..." name="Name">
                <button for="search-box" class="fas fa-search"></button>
                <button class="fa fa-refresh"> </button>
            </div>
        </form>
    </div>
</div>


<div class="panel panel-danger">
    <div class="panel-heading panel-heading-prod">Thực Đơn</div>
    <div class="panel-body">
        <div class="row">
            @foreach (var item in Model.products)
            {
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="100px" alt="@item.Name">
                        <div class="caption">
                            <h4>@item.Name</h4>
                            <p>Giá: @string.Format("{0:N0}", item.Price) VNĐ</p>
                            <form asp-action="AddToCart" asp-controller="ShoppingCart" method="post">
                                <input type="hidden" name="productId" value="@item.Id" />
                                <p>Số Lượng:</p>
                                <input style="text-align:center" type="number" name="quantity" value="1" />
                                <button class="btn btn-success">
                                    <i class="fa fa-spin fa-spinner"></i>Add to Cart
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="panel-footer text-center">
            <ul class="pagination pagination-centered">
                @for (int i = 1; i <= Model.pagingInfo.TotalPages; i++)
                {
                    <li class="@(i == Model.pagingInfo.CurrentPage ? "active" : "")">
                        <a href="@Url.Action("Index", new { page = i })">@i</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading panel-heading-prod">Burger</div>
    <div class="panel-body">
        <div class="row">
            @foreach (var item in Model.Burger)
            {
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="100px" alt="@item.Name">
                        <div class="caption">
                            <h4>@item.Name</h4>
                            <p>Giá: @string.Format("{0:N0}", item.Price) VNĐ</p>
                            <form asp-action="AddToCart" asp-controller="ShoppingCart" method="post">
                                <input type="hidden" name="productId" value="@item.Id" />
                                <p>Số Lượng:</p>
                                <input style="text-align:center" type="number" name="quantity" value="1" />
                                <button class="btn btn-success">
                                    <i class="fa fa-spin fa-spinner"></i>Add to Cart
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading panel-heading-prod">Chiken</div>
    <div class="panel-body">
        <div class="row">
            @foreach (var item in Model.Chicken)
            {
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="100px" alt="@item.Name">
                        <div class="caption">
                            <h4>@item.Name</h4>
                            <p>Giá: @string.Format("{0:N0}", item.Price) VNĐ</p>
                            <form asp-action="AddToCart" asp-controller="ShoppingCart" method="post">
                                <input type="hidden" name="productId" value="@item.Id" />
                                <p>Số Lượng:</p>
                                <input style="text-align:center" type="number" name="quantity" value="1" />
                                <button class="btn btn-success">
                                    <i class="fa fa-spin fa-spinner"></i>Add to Cart
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading panel-heading-prod">Pizza</div>
    <div class="panel-body">
        <div class="row">
            @foreach (var item in Model.Pizza)
            {
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="100px" alt="@item.Name">
                        <div class="caption">
                            <h4>@item.Name</h4>
                            <p>Giá: @string.Format("{0:N0}", item.Price) VNĐ</p>
                            <form asp-action="AddToCart" asp-controller="ShoppingCart" method="post">
                                <input type="hidden" name="productId" value="@item.Id" />
                                <p>Số Lượng:</p>
                                <input style="text-align:center" type="number" name="quantity" value="1" />
                                <button class="btn btn-success">
                                    <i class="fa fa-spin fa-spinner"></i>Add to Cart
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var currentUrl = window.location.pathname;
        if (currentUrl === "/") {
            currentUrl = "/trang-chu";
        }
        var navLinks = document.querySelectorAll(".navbar-nav a");
        navLinks.forEach(function (link) {
            if (link.getAttribute("href") === currentUrl) {
                link.parentNode.classList.add("active");
            }
        });
    });
</script>