html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.navbar-inverse {
    background-color: #d7a9a9;
    ;
    border-color: #156388;
    margin-top: 5px;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #d7a9a9;
        text-transform: uppercase;
    }


    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #d7a9a9;
    }

.panel-prod {
    margin-top: 15px;
}

.panel-heading-prod {
    font-weight: bold;
}

.caption {
    text-align: center;
}

.more-prod {
    text-align: right;
    color: #156388;
    font-weight: bold;
    font-style: italic;
}

    .more-prod > a {
        text-decoration: none;
    }

.panel-post {
    margin-right: -25px;
}

.panel-body-post {
    text-align: justify;
}

.img-adv {
    text-align: center;
    width: 100%;
}

.container-footer {
    background-color: #156388;
    color: #fff;
    padding-bottom: 15px;
}

.info,
.info:hover {
    text-decoration: none;
    color: #fff;
}

.pagination-centered {
    display: inline-block;
}

.panel-footer.text-center {
    text-align: center;
}

.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:focus {
    color: #fff;
    background-color: #FF4C22;
    font-weight: bold;
}

main-image {
    width: 100%;
    height: auto;
}

.thumbnail {
    cursor: pointer;
}

.cart-container {
    margin: 20px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

    .cart-table th,
    .cart-table td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    .cart-table th {
        text-align: left;
    }

.cart-actions {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn:hover {
    opacity: 0.8;
}

.remove-link {
    color: #dc3545;
}


