@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

    html::-webkit-scrollbar {
        width: .8rem;
    }

    html::-webkit-scrollbar-track {
        background: transparent;
    }

    html::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 5rem;
    }

body {
    background: white;
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

    .heading span {
        color: var(--main-color);
        text-transform: uppercase;
    }

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: black;
    background: white;
    cursor: pointer;
}

    .btn:hover {
        letter-spacing: .2rem;
    }

.header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
    /*.header .logo img {
       height: 6rem;
}*/
    .header .navbar a {
        margin: 0 1rem;
        font-size: 1.6rem;
        color: black;
    }

        .header .navbar a:hover {
            color: var(--main-color);
            border-bottom: .1rem solid var(--main-color);
            padding-bottom: .5rem;
        }

    .header .navbar .active {
        right: 0;
    }

    .header .icons div {
        color: black;
        cursor: pointer;
        font-size: 2.5rem;
        margin-left: 2rem;
    }

        .header .icons div:hover {
            color: var(--main-color);
        }

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

    .header .search-form.active {
        transform: scaleY(1);
    }

    .header .search-form input {
        height: 100%;
        width: 100%;
        font-size: 1.6rem;
        color: var(--black);
        padding: 1rem;
        text-transform: none;
    }

    .header .search-form label {
        cursor: pointer;
        font-size: 2.2rem;
        margin-right: 1.5rem;
        color: var(--black);
    }

        .header .search-form label:hover {
            color: var(--main-color);
        }

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

    .header .cart-items-container .cart-item {
        position: relative;
        margin: 2rem 0;
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

        .header .cart-items-container .cart-item .fa-times {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2rem;
            cursor: pointer;
            color: var(--black);
        }

            .header .cart-items-container .cart-item .fa-times:hover {
                color: var(--main-color);
            }

        .header .cart-items-container .cart-item img {
            height: 10rem;
        }

        .header .cart-items-container .cart-item .content h3 {
            font-size: 2rem;
            color: var(--black);
            padding-bottom: .5rem;
        }

        .header .cart-items-container .cart-item .price {
            font-size: 1.5rem;
            color: var(--main-color);
        }

    .header .cart-items-container .btn {
        width: 100%;
        text-align: center;
    }

    .header .cart-items-container .active {
        right: 0;
    }

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}

    .home .content {
        max-width: 60rem;
    }

        .home .content h3 {
            font-size: 6rem;
            text-transform: uppercase;
            color: #fff;
        }

        .home .content p {
            font-size: 2rem;
            font-weight: lighter;
            line-height: 1.8;
            padding: 1rem 0;
            color: #eee;
        }

.about .row {
    display: flex;
    align-items: center;
    background: white;
    flex-wrap: wrap;
}

    .about .row .image {
        flex: 1 1 45rem;
    }

        .about .row .image img {
            width: 100%;
        }

about h1 {
    color: var(--main-color);
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

    .about .row .content h3 {
        font-size: 3rem;
        color: var(--main-color);
    }

    .about .row .content p {
        font-size: 1.6rem;
        color: #ccc;
        padding: 1rem 0;
        line-height: 1.8;
    }

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

    .menu .box-container .box {
        padding: 5rem;
        text-align: center;
        border: var(--border);
    }

        .menu .box-container .box img {
            height: 20rem;
        }

        .menu .box-container .box h3 {
            color: #fff;
            font-size: 2rem;
            padding: 1rem 0;
        }

        .menu .box-container .box .price {
            color: #fff;
            font-size: 2.5rem;
            padding: .5rem 0;
        }

            .menu .box-container .box .price span {
                font-size: 1.5rem;
                text-decoration: line-through;
            }

        .menu .box-container .box:hover {
            background: #fff;
        }

            .menu .box-container .box:hover > * {
                color: var(--black);
            }

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

    .products .box-container .box {
        text-align: center;
        border: var(--border);
        padding: 1.5rem;
    }

        .products .box-container .box .icons a {
            height: 5rem;
            width: 5rem;
            line-height: 5rem;
            font-size: 2rem;
            border: var(--border);
            color: #fff;
            margin: .3rem;
        }

            .products .box-container .box .icons a:hover {
                background: var(--main-color);
            }

        .products .box-container .box .image {
            padding: 1.5rem 0;
        }

            .products .box-container .box .image img {
                height: 25rem;
            }

        .products .box-container .box .content h3 {
            color: #fff;
            font-size: 2.5rem;
        }

        .products .box-container .box .content .stars {
            padding: 1.5rem;
        }

            .products .box-container .box .content .stars i {
                font-size: 1.7rem;
                color: var(--main-color);
            }

        .products .box-container .box .content .price {
            color: #fff;
            font-size: 2.5rem;
        }

            .products .box-container .box .content .price span {
                font-size: 1.5rem;
                text-decoration: line-through;
                font-weight: lighter;
            }

        .products .box-container .box:hover {
            background: #fff;
        }

.footer {
    background: var(--bg);
    text-align: center;
}

    .footer .share {
        padding: 1rem 0;
    }

        .footer .share a {
            height: 5rem;
            width: 5rem;
            line-height: 5rem;
            font-size: 2rem;
            color: #fff;
            border: var(--border);
            margin: .3rem;
            border-radius: 50%;
        }

            .footer .share a:hover {
                color: var(--main-color);
            }

    .footer .links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2rem 0;
        gap: 1rem;
    }

        .footer .links a {
            padding: .7rem 2rem;
            color: #fff;
            border: var(--border);
        }

            .footer .links a:hover {
                background-color: var(--main-color);
            }

    .footer .credit {
        font-size: 2rem;
        color: #fff;
        font-weight: lighter;
        padding: 1.5rem;
    }

        .footer .credit span {
            color: var(--main-color);
        }

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

        .header .navbar .active {
            right: 0;
        }

        .header .navbar a {
            color: var(--black);
            display: block;
            margin: 1.5rem;
            padding: .5rem;
            font-size: 2rem;
        }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content: center;
    }

        .home .content h3 {
            font-size: 4.5rem;
        }

        .home .content p {
            font-size: 1.5rem;
        }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}

    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: inline;
        color: black !important;
    }

        .menu ul li {
            display: inline;
        }

            .menu ul li a {
                color: Black !important;
            }

.search-form {
    display: inline;
    padding-bottom: 12px;
}

.Log {
    display: flex;
    font-size: 15px;
}

    .Log ul {
        display: inline;
        color: black !important;
    }

        .Log ul li {
            display: flex;
            margin-right: 8px;
        }


.searchbox {
    margin-top: 10px !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-radius: 10px !important;
}


